*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.topo {
    background-color: #f58220;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo{
    color: white;
    font-size: 38px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    transition: 0.3s;
    padding-bottom: 5px;
}

.menu a::after{
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;

    width: 0%;
    height: 2px;

    background-color: white;

    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.login-bar {
    background-color: #005b96;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 50px;
}

.login-bar span {
    color: white;
    font-weight: bold;
}

.login-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

.login-bar input:focus {
    box-shadow:  0 0 8px rgba(255,255,255,0.7);
}

.login-bar button {
    background-color: #00a8e8;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.login-bar button:hover {
    background-color: #0095cf;
    transform: scale(1.05);
}

.links ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.hero {
    background: linear-gradient(to right, #f89b3c, #f58220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
    min-height: 85vh;
    overflow: hidden;
}

.hero-texto {
    max-width: 500px;
}

#p1 {
    color: white;
    font-size: 55px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-texto button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s;
}

.hero-texto button:hover {
    background-color: white;
    color: #f58220;
    transform: translateY(-3px);
}

.hero-img {
    position: relative;
}

.hero-img img {
    width: 350px;
    position: relative;
    z-index: 1;
}

.hero-img::before {
    content: "<<<<";

    position: absolute;

    top: 50%;
    left: -120px;

    transform: translateY(-50%);

    font-size: 500px;
    font-weight: bold;

    color: rgba(255,255,255,0.15);

    letter-spacing: -15px;

    z-index: 0;

    filter: blur(3px);

}

.para-voce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
    gap: 40px;
}

.para-voce-info {
    max-width: 500px;
}

.para-voce-info h2 {
    color: #f58220;
    font-size: 38px;
    margin-bottom: 20px;
}

.para-voce-info p {
    color: #444;
    line-height: 1.7;
}

para-voce-destaque {
    background-color: #f58220;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

.para-voce-destaque h3 {
    color: black;
    margin-bottom: 15px;
}

.para-voce-destaque p {
    color: black;
    margin-bottom: 20px;
}

.para-voce-destaque a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 18px;
}

.tipos-cartao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 50px;
}

.lista-cartoes {
    list-style: none;
    display: flex;
    gap: 20px;
}

.cartao {
    background-color: #e5e5e5;
    padding: 20px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.cartao.ativo {
    background-color: #f58220;
    color: white;
    box-shadow: 0 10px 20px rgba(245,130,32,0.4);
}

.cartao:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.seta {
    border: none;
    background-color: transparent;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.seta:hover {
    background-color: #f58220;
    color: white;
}